@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=JetBrains+Mono:wght@400&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@layer base {
  [data-theme="light"] {
    --color-base-100: #F8F9FA;
    --color-base-200: #F0F0F5;
    --color-base-300: #E5E7EB;
    --color-base-content: #1F2937;
  }

  [data-theme="dark"] {
    --color-base-100: #1a0f4a;
    --color-base-200: #100839;
    --color-base-300: #25176E;
    --color-base-content: #FFFFFF;
  }
}